# 음성 처리
librosa>=0.10.1
numpy>=2.0
scipy>=1.15
soundfile==0.12.1

# STT 모델
openai-whisper==20250625
vosk

#VAD
pyannote.audio

# 테스트
pytest==7.4.0
pytest-cov==4.1.0

# 코드 품질
black==23.7.0
flake8==6.0.0
mypy==1.4.1

# logging
python-dotenv
pyyaml

# Pipeline utilities
tqdm
pandas
tenacity